/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 1px;
	width: 15px;
	height: 15px;
	border: 1px solid $color1;
	background: transparent;
	border-radius: 0;
	box-shadow: none;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: " ";
  display: block;
  height: 9px;
  width: 9px;
  background: $color1;
  position: absolute;
  top: 4px; 
  left: 3px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: $color1;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px solid $color1;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid $color1 !important;
}


// Select
.select2-container--default {
    // width: 250px !important;
}
.select2-container--default .select2-selection--single {
    background-color: #fbf7f2;
    border: 1px solid #cfc4b7;
    border-radius: 0;
}
.select2-container .select2-selection--single {
    height: 84px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 84px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 40px;
    padding-right: 60px;
    color: #b98d5d;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 29px;
    right: 21px;
    width: 20px;
}
.select2-dropdown {
    background-color: #fbf7f2;
    border: 1px solid #cfc4b7;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}
.select2-results__option {
    padding: 15px 50px;
    user-select: none;
    -webkit-user-select: none;
    color: #606060;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
}
.select2-container--default .select2-results>.select2-results__options {
    max-height: 400px;
    overflow-y: auto;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: transparent;
    color: #b07f4a;
    font-weight: 500;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: transparent;
}